.no-image-library {
    width: 300px;
    height: 300px;
    border: 2px solid #eeeeee;
    border-radius: 5px;
}

.content-section-user {
    min-height: 100%;
}

.upload-field {
    height: 100%;
}

.image-library {
    width: 350px;
    height: 350px;
    padding: 30px;
}

.space-top {
    margin-top: 30px;
}

.image-page {
    width: 420px;
    height: 420px;
    display: block;
    margin:auto;
}

.image-block {
    margin:auto;
    display: block;
    width: 1060px;
}

.form-field {
    width: 350px;
}

.form-field-button {
    width: 150px;
}

.image-library-user {
    float: right;
    margin: 0px;
}

.display-inline {
    display: inline;
}

.first-col-dc {
    border-right: 1px solid grey;
}

.nav-reset {
    height: 45px;
}

.form-dc {
    width: 350px;
    margin: auto;

}

.content-dc {
    height: 100%;
}

.first-dc {
    margin-top: 100px;
}

.navbar-brand {
    font-size: 20px;
}

.navbar-default {
    background-color: #3a3a3a;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
}

footer {
    height: 70px;
    background-color: #3a3a3a;
    padding: 5px 0;
 }

footer a {
    color: #777;
}

.footer-dc {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.delete-icon {
    width: 25px;
    height: 25px;
    position: relative;
    top: -120px;
    left: -60px;
    opacity: 0.7;
}